div(class="ui basic modal")
  div(class="ui icon header")
    i(class="low vision icon")
    | Kas oled vähemalt 18 aastane?
  div(class="actions")
    div(class="ui red basic cancel inverted button" id="declineButton")
      i(class="remove icon")
      | Ei
    div(class="ui green ok inverted button" id="confirmButton")
      i(class="checkmark icon")
      | Jah

