script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.js")
script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css")
link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/modal.min.css")

div(class="ui basic modal")
  div(class="ui icon header")
    i(class="low vision icon")
    | Kas oled v채hemalt 18 aastane? (K체psistega n천ustumisel teie vanust enam ei k체sita)
  div(class="actions")
    div(class="ui red basic cancel inverted button" id="declineButton")
      i(class="remove icon")
      | Ei
    div(class="ui green ok inverted button" id="confirmButton")
      i(class="checkmark icon")
      | Jah

