div(class="logo")
  a(href="/")
    img(class= "logo_viin", src='/img/viin.png' alt="logoImage")
    h1(class="tiitel värviMustaks") Viinavaatlus

div(class='ui menu navbar')
  a(class='header item' href='/') Kodu
  div(class='ui dropdown item' tabindex='0') Poed
    div(class='menu transition hidden' tabindex='-1')
      a(class="item" href="/otsi/?stores=0") Maxima
      a(class="item" href="/otsi/?stores=1") Selver
      a(class="item" href="/otsi/?stores=2") Coop
      a(class="item" href="/otsi/?stores=3") Alko1000
      a(class="item" href="/otsi/?stores=4") CityAlko
      a(class="item" href="/otsi/?stores=5") SuperAlko EE
      a(class="item" href="/otsi/?stores=6") SuperAlko LV
      a(class="item" href="/otsi/?stores=7") Liviko
      a(class="item" href="/otsi/?stores=8") SadamaMarket
      a(class="item" href="/otsi/?stores=9") Alkoshop
      a(class="item" href="/otsi/?stores=10") Prisma
  div(class='ui dropdown item' tabindex='0') Alkohol
    div(class='menu transition hidden' tabindex='-1')
      a(class="item" href="/otsi/?type=0") Viin
      a(class="item" href="/otsi/?type=1") Džinn
      a(class="item" href="/otsi/?type=2") Rumm
      a(class="item" href="/otsi/?type=3") Liköör
      a(class="item" href="/otsi/?type=4") Viski
      a(class="item" href="/otsi/?type=5") Konjak
      a(class="item" href="/otsi/?type=6") Brändi
      a(class="item" href="/otsi/?type=7") Vein
      a(class="item" href="/otsi/?type=8") Õlu
      a(class="item" href="/otsi/?type=9") Siider
      a(class="item" href="/otsi/?type=10") Muu
  a(class="item" href="/meist") Meist
  div(class='right menu')
    div(class='ui action left icon input')
      i(class="search icon")
      input(type='text' placeholder="Otsi" id="searchBox" value=(search ? search : ""))
      a(class="ui button" href="#" id="searchButton") Otsi
