div(class="logo")
  a(href="/")
    img(class= "logo_viin", src='/img/viin.png' )
    h1(class="tiitel värviMustaks") Viinavaatlus

div(class='ui menu navbar')
  a(class='header item' href='/') Kodu
  //div(class='ui dropdown item' tabindex='0') Poed
  //  div(class='menu transition hidden' tabindex='-1')
  //    a(class="item" href="#") Selver
  //    a(class="item" href="#") Maxima
  //    a(class="item" href="#") Coop
  //    a(class="item" href="#") Alko1000
  //    a(class="item" href="#") Sadama Market
  //div(class='ui dropdown item' tabindex='0') Alkohol
  //  div(class='menu transition hidden' tabindex='-1')
  //    a(class="item" href="#") Õlu
  //    a(class="item" href="#") Viin
  //    a(class="item" href="#") Rumm
  //    a(class="item" href="#") Vein
  //    a(class="item" href="#") Liköör
  a(class="item" href="/meist") Meist
  div(class='right menu')
    div(class='ui action left icon input')
      i(class="search icon")
      input(type='text' placeholder="Otsi" id="searchBox" value=(search ? search : ""))
      a(class="ui button" href="#" id="searchButton") Otsi


div(class="ui grid")
  div(class="thirteen wide column ülemineFilter")
    div(class="ui menu")
      select(multiple="" name="category" class="ui fluid normal dropdown")
        option(value="") Kategooriad
          each column in categoryColumns
            each category in column
              option(value=category.id) #{category.name}
  div(class="three wide column ülemineFilter")
    div(class="ui menu")
      select(name="sortType" class="ui fluid normal dropdown")
        option(value="") Järjestus
          option(value="0") Odavamad enne
          option(value="1") Kallimad enne
          option(value="2") A-Z
  div(class="thirteen wide column alumineFilter")
    div(class="ui menu")
      select(multiple="" name="store" class="ui fluid normal dropdown")
        option(value="") Poed
          each column in stores
            each store in column
              option(value=store.id) #{store.name}
  div(class="three wide column alumineFilter")
    button(class="ui button" id="updateButton") Uuenda
