div(class="logo")
  img(class= "logo_viin", src='/img/viin.png' )
  h1(class="tiitel") Viinavaatlus

div(class='ui menu navbar')
  a(class='header item' href='/') Kodu
  div(class='ui dropdown item' tabindex='0') Poed
    div(class='menu transition hidden' tabindex='-1')
      a(class="item" href="#") Selver
      a(class="item" href="#") Maxima
      a(class="item" href="#") Coop
      a(class="item" href="#") Alko1000
      a(class="item" href="#") Sadama Market
  div(class='ui dropdown item' tabindex='0') Alkohol
    div(class='menu transition hidden' tabindex='-1')
      a(class="item" href="#") Õlu
      a(class="item" href="#") Viin
      a(class="item" href="#") Rumm
      a(class="item" href="#") Vein
      a(class="item" href="#") Liköör
  a(class="item" href="/aboutUs") Meist
  a(class='item' href="/scrape") Scrape
  div(class="ui link list" id="alkoList")
    div(class="active item")
      if products
        each product in products
          a(href=product.url) #{product.showName}
  div(class='right menu')
    div(class='ui action left icon input')
      i(class="search icon")
      input(type='text' placeholder="Otsi" id="searchBox")
      a(class="ui button" href="#" id="searchButton") Otsi
    //div(class="ui right aligned fluid category search")
    //  div(class='ui action left icon input')
    //    i(class="search icon")
    //    input(class="prompt" type='text' placeholder="Otsi" id="searchBox")
    //  div(class="results")

div(class="ui grid")
  div(class="twelve wide column")
  div(class="three wide column")
    div(class="ui floating dropdown labeled icon button")
      i(class="filter icon")
      span(class="text") Filter
      div(class="menu")
        div(class="ui form")
          div(class="grouped fields")
            div(class="field")
              div(class="ui radio checkbox")
                input(type="radio" name="radioSort" checked="checked" value="0")
                label Odav->Kallis
            div(class="field")
              div(class="ui radio checkbox")
                input(type="radio" name="radioSort" value="1")
                label Kallis->Odav
            div(class="field")
              div(class="ui radio checkbox")
                input(type="radio" name="radioSort" value="2")
                label A->Z
            div(class="field")
              div(class="ui radio checkbox")
                input(type="radio" name="radioSort" value="3")
                label Z->A