extends layout

block content
  include includes/ageConfirmation
  include includes/header

  div(class="ui grid indexPageHeader about")
    div(class="sixteen wide column indexPage")
      p(class="aboutText") Viinavaatlus on 2019. aastast tegutsev Eesti hinnainfot edastav hinnavõrdlusportaal, mis aitab leida erinevaid alkohoolseid tooteid ja võrrelda nende hindu. Viinavaatlus võimaldab reklaamijail jõuda ostjateni ajal, mil nad võrdlevad erinevaid pakkumisi ja kaaluvad ostu sooritamist. Reklaamimishuvi korral kirjutage kontakt@viinavaatlus.ee
      br
      h3.aboutPageHeader Meie veebileht saab oma andmed järgmistest poodidest:
      br
      div(class="ui bulleted list")
        a(class="item" href="http://alko1000.ee/") Alko1000
        a(class="item" href="https://alkoshop.ee/et/") AlkoShop
        a(class="item" href="https://cityalko.ee/") CityAlko
        a(class="item" href="https://ecoop.ee/et/") COOP
        a(class="item" href="https://www.livikostore.ee/") Liviko
        a(class="item" href="https://www.barbora.ee/tere-tulemast") Maxima
        a(class="item" href="http://www.sadamamarket.ee/") Sadamamarket
        a(class="item" href="https://www.selver.ee/") Selver
        a(class="item" href="https://www.superalko.lv/confirmed") SuperAlko
        a(class="item" href="https://www.viinarannasta.ee/") Viinarannasta
        a(class="item" href="https://www.prismamarket.ee/products") Prisma




