extends layout

block includes
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="/js/limpa.js")

block content
  h1#time
  img(src="https://www.alecoq.ee/wordpress/wp-content/uploads/2014/12/limonaad_pudel_05.png" class="limpaPilt")

